<h1>Listing direccions</h1>

<table>
  <thead>
    <tr>
      <th>Calle</th>
      <th>Zona</th>
      <th>Casa</th>
      <th>Ciudad</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @direccions.each do |direccion| %>
      <tr>
        <td><%= direccion.calle %></td>
        <td><%= direccion.zona %></td>
        <td><%= direccion.casa %></td>
        <td><%= direccion.ciudad %></td>
        <td><%= link_to 'Show', direccion %></td>
        <td><%= link_to 'Edit', edit_direccion_path(direccion) %></td>
        <td><%= link_to 'Destroy', direccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direccion', new_direccion_path %>
